*{
    box-sizing: border-box;
}
body {
    background-color: rgba(23, 23, 23, 1);
    color: rgba(255, 255, 255, 1);
}
.wrapper {
    max-width: 1460px;
    margin: auto;
}
header {
    display: flex;
    justify-content: space-between;
    padding-top: 37px;
}
.sub-header-right {
   display: flex;
  align-items: center;
}
.phone {
    display: flex;
    font-family: circe;
    font-weight: 700;
    align-content: flex-end;
}
.button {
    display: flex;
    border: 1px solid rgba(214, 175, 118, 1);
    font-size: 18px;
    line-height: 30px;
    font-family: circe, sans-serif;
    font-weight: 400;
    margin-left: 39px;
    align-items: center;
    padding: 10px 25px;
}
.brown-text {
    color: rgba(214, 175, 118, 1);
}
a {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}
.icon {
    height: 12.96px;
    width: 12.96px;
    margin-right: 10px;
}
.brown-text-2 {
    color: rgba(228, 181, 100, 1);
}
.title{
    margin-top: 120px;
    font-size: 50px;
    font-family: gilam, sans-serif;
    font-weight: 700;
}
.subtitle {
    width: 1182px;
    height: 56px;
    font-size: 20px;
    font-family: gilam, sans-serif;
    font-weight: 700;
    padding-top: 41px;
}
.grid {
display: grid;
    grid-template-rows: repeat(2, 468px);
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 30px;
    grid-template-areas: 
    "item-1 item-1 item-2 item-2 item-3 item-3"
    "item-4 item-4 item-4 item-5 item-5 item-5";
    font-family: gilam, sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    padding-top: 41px;
    text-align: center;
    width: 100%;
    padding-bottom: 41px;
}
.grid>div {
display: flex;
align-items: center;
justify-content: center;
}
.item-1 {
    grid-area: item-1;
    background-color: rgba(99, 79, 44, 1);
}
.item-2 {
    grid-area: item-2;
    background-color: rgba(180, 163, 133, 1);
}
.item-3 {
    grid-area: item-3;
    background-color: rgba(228, 181, 100, 1);
}
.item-4 {
    grid-area: item-4;
    background-color: rgba(99, 90, 74, 1);
}
.item-5 {
    grid-area: item-5;
    background-color: rgba(176, 140, 77, 1);
}
.flex-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    height: 900px;
    margin-top: 94px;
    font-family: gilam, sans-serif;
    font-size: 20px;
    line-height: 25px;
}
.flex-wrapper>div {
    width: 467px;
    margin-right: 30px;
    padding: 44px 0px 0px 50px;
    flex-direction: column;
}
.flex-item1 {
    background-color: rgba(14, 14, 14, 1);
    height: 313px;
    margin-bottom: 24px;
}
.flex-item2 {
    background-color: rgba(31, 31, 31, 1);
    height: 560px;
}
.flex-item3 {
    background-color: rgba(36, 36, 36, 1);
    height: 439px;
    margin-bottom: 33px;
}
.flex-item4 {
    background-color: rgba(228, 181, 100, 1);
    color: rgba(0, 0, 0, 1);
    height: 405px;
}
.flex-item5 {
    background-color: rgba(31, 31, 31, 1);
    height: 255px;
    margin-bottom: 26px;
}
.flex-item6 {
    background-color: rgba(14, 14, 14, 1);
    height: 313px;
    margin-bottom: 26px;
}
.flex-item7 {
    background-color: rgba(10, 9, 9, 1);
    height: 277px;
}
.bold {
    font-weight: 700;
}
.other {
    margin-top: 191px;
    padding-top: 161px;
    background-color: rgba(14, 14, 14, 1);
}
.infobar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 72px;
}
.clients-and-projects {
    font-size: 50px;
    font-family: gilam, sans-serif;
    font-weight: 700;
}
.second-button {
    color: rgba(214, 175, 118, 1);
    border: 1px solid rgba(214, 175, 118, 1);
    font-size: 18px;
    line-height: 30px;
    font-family: circe, sans-serif;
    font-weight: 400;
    margin-left: 39px;
    align-items: center;
    padding: 10px 39px;
}
.second-grid {
    display: grid;
    grid-template-rows: repeat(2, 487px);
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    width: 100%;
    margin-bottom: 239px;
}
.second-grid>div {
    display: flex;
    align-items: center;
    justify-content: center;
}
.item1 {
    background-color: rgba(99, 79, 44, 1);
}
.item2 {
    flex-direction: column;
    background-color: rgba(232, 210, 171, 0.76);
    font-family: Gilam, sans-serif;
    font-size: 22px;
    line-height: 28px;
    font-weight: 400;
    padding: 0px 80px 0px 80px;
    text-align: center;
}
.item3 {
    background-color: rgba(228, 181, 100, 1);
}
.item4 {
    background-color: rgba(99, 90, 74, 1);
}
.item5 {
    background-color: rgba(176, 140, 77, 1);
}
.item6 {
    background-color: rgba(99, 79, 44, 1);
}